*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-page .slider{
  position: fixed;
  width: 100vw;
  height: 100vh; /* safer than svh */
  overflow: hidden;
  z-index: 1;
}
.slide{
  position: absolute;
  width: 45vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
}

.slide-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
  background-color: #0000003b;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  pointer-events: none;
  z-index: 2;
}

.about-page .thumbnail-wheel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.thumbnail-item{
  position: absolute;
  width: 35px;
  height: 50px;
  overflow: hidden;
}

@media (max-width:1000px){
    .slide{
        width: 75vw;

    }

    .thumbnail-item{
      width: 20px;
      height: 30px;
    }
}